In [176]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial import distance

In [177]:
import numpy as np

In [145]:
ratings = pd.read_excel("hw4.xlsx",index_col=0)

In [146]:
ratings = ratings.iloc[:, 4:54]
ratings
# here serial number is the user id

,The Social Network,A Prophet,Amour,The King's Speech,La La Land,Boyhood,Inception,A Separation,The Artist,The White Ribbon,...,Call Me by Your Name,Winter's Bone,The Grand Budapest Hotel,Dunkirk,Inside Llewyn Davis,A Serious Man,Toy Story 3,Beasts of the Southern Wild,The Imitation Game,The Fighter
Serial Number,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,5.0,NaN
3,4.0,NaN,NaN,3.0,4.0,4.0,4.0,NaN,NaN,NaN,...,4.0,NaN,3.0,3.0,4.0,NaN,NaN,NaN,3.0,NaN
4,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,4.0,NaN,4.0,3.0
5,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,5.0,NaN,2.0,5.0,5.0,NaN,3.0,NaN,4.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,NaN,NaN,NaN,4.0,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
95,3.0,NaN,NaN,4.0,3.0,4.0,4.0,4.0,3.0,NaN,...,NaN,NaN,5.0,4.0,NaN,NaN,NaN,NaN,5.0,4.0
96,5.0,NaN,NaN,3.0,3.0,3.0,4.0,NaN,4.0,NaN,...,NaN,NaN,4.0,3.0,NaN,NaN,3.0,NaN,5.0,NaN
97,2.0,NaN,NaN,NaN,5.0,NaN,5.0,NaN,NaN,NaN,...,5.0,NaN,5.0,5.0,NaN,NaN,5.0,NaN,5.0,5.0
98,5.0,NaN,NaN,4.0,4.0,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,5.0,4.0,4.0,4.0,5.0,NaN,3.0,NaN

## Get rid of the null value  
(Aim: To standardize the rating of a user in case a user is too harsh or too lenient

Let's remove movies which have less than 10 users who rated it.
(Aim: reduce the noice of data)
Fill remaining NaN with 0.

In [147]:
ratings = ratings.dropna(thresh=10,axis = 1).fillna(0)

In [190]:
ratings.head()
ratings.columns

Index([' The Social Network', ' The King's Speech', ' La La Land', ' Boyhood',
       ' Inception', ' A Separation', ' The Artist', ' Zero Dark Thirty',
       ' Avatar', ' Spotlight', ' 12 Years a Slave',
       ' Blue is the Warmest Colour', ' Up in the Air',
       ' Inglourious Basterds', ' Mad Max: Fury Road', ' Moonlight',
       ' Birdman', ' Manchester by the Sea', ' Lincoln', ' Hugo',
       ' The Shape of Water', ' Three Billboards Outside Ebbing, Missouri',
       ' Argo', ' Gravity', ' Black Swan', ' The Wolf of Wall Street',
       ' True Grit', ' Life of Pi', ' Arrival', ' Call Me by Your Name',
       ' The Grand Budapest Hotel', ' Dunkirk', ' Toy Story 3',
       ' The Imitation Game', ' The Fighter'],
      dtype='object')

## Standardize the ratings

In [149]:
def standardize(row):
    new_row = (row - row.mean())/(row.max() - row.min())
    return new_row

ratings_std = ratings.apply(standardize)
ratings_std

,The Social Network,The King's Speech,La La Land,Boyhood,Inception,A Separation,The Artist,Zero Dark Thirty,Avatar,Spotlight,...,The Wolf of Wall Street,True Grit,Life of Pi,Arrival,Call Me by Your Name,The Grand Budapest Hotel,Dunkirk,Toy Story 3,The Imitation Game,The Fighter
Serial Number,,,,,,,,,,,,,,,,,,,,,
1,-0.363265,-0.463265,-0.561224,-0.138776,0.277551,-0.091837,-0.093878,-0.161224,0.297959,-0.226531,...,0.430612,-0.1,0.453061,-0.210204,-0.228571,0.563265,-0.395918,-0.426531,0.510204,-0.118367
2,-0.363265,-0.463265,-0.561224,-0.138776,0.277551,-0.091837,-0.093878,-0.161224,-0.702041,-0.226531,...,0.430612,-0.1,-0.546939,-0.210204,-0.228571,-0.436735,-0.395918,0.373469,0.510204,-0.118367
3,0.436735,0.136735,0.238776,0.661224,0.077551,-0.091837,-0.093878,-0.161224,-0.102041,0.373469,...,-0.569388,0.5,0.453061,0.389796,0.571429,0.163265,0.204082,-0.426531,0.110204,-0.118367
4,-0.363265,0.336735,0.438776,-0.138776,-0.722449,-0.091837,0.706122,-0.161224,0.297959,-0.226531,...,0.430612,-0.1,0.053061,-0.210204,-0.228571,-0.436735,0.404082,0.373469,0.310204,0.481633
5,-0.363265,-0.463265,-0.561224,-0.138776,0.277551,-0.091837,-0.093878,-0.161224,-0.502041,-0.226531,...,0.030612,0.9,-0.146939,0.189796,0.771429,-0.036735,0.604082,0.173469,0.310204,0.481633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,-0.363265,0.336735,-0.561224,-0.138776,0.277551,-0.091837,-0.093878,-0.161224,0.297959,-0.226531,...,-0.569388,-0.1,-0.546939,-0.210204,-0.228571,-0.436735,-0.395918,-0.426531,0.510204,-0.118367
95,0.236735,0.336735,0.038776,0.661224,0.077551,0.708163,0.506122,0.638776,-0.102041,0.773469,...,0.230612,0.5,-0.146939,0.789796,-0.228571,0.563265,0.404082,-0.426531,0.510204,0.681633
96,0.636735,0.136735,0.038776,0.461224,0.077551,-0.091837,0.706122,0.238776,-0.102041,-0.226531,...,0.430612,0.5,-0.146939,-0.210204,-0.228571,0.363265,0.204082,0.173469,0.510204,-0.118367
97,0.036735,-0.463265,0.438776,-0.138776,0.277551,-0.091837,-0.093878,0.638776,0.097959,0.573469,...,0.430612,-0.1,0.453061,0.789796,0.771429,0.563265,0.604082,0.573469,0.510204,0.881633
98,0.636735,0.336735,0.238776,-0.138776,0.277551,-0.091837,-0.093878,-0.161224,-0.102041,-0.226531,...,-0.169388,0.3,0.053061,0.189796,-0.228571,0.563265,0.404082,0.573469,0.110204,-0.118367

## Cosine similarity

1. user-to-user similarity

In [150]:
item_similarity_us = cosine_similarity(ratings_std)
item_similarity_us

array([[ 1.        ,  0.18948459, -0.19654328, ..., -0.20481352,
        -0.00828089, -0.08975998],
       [ 0.18948459,  1.        , -0.43623085, ..., -0.14582588,
        -0.22016714, -0.13962809],
       [-0.19654328, -0.43623085,  1.        , ...,  0.25696007,
         0.13483938,  0.4590696 ],
       ...,
       [-0.20481352, -0.14582588,  0.25696007, ...,  1.        ,
        -0.03366765,  0.1161468 ],
       [-0.00828089, -0.22016714,  0.13483938, ..., -0.03366765,
         1.        ,  0.24215203],
       [-0.08975998, -0.13962809,  0.4590696 , ...,  0.1161468 ,
         0.24215203,  1.        ]])

In [182]:
item_similarity_us_0 = cosine_similarity(ratings)
item_similarity_us_0

array([[1.        , 0.49239912, 0.47245559, ..., 0.47961646, 0.57112617,
        0.5568901 ],
       [0.49239912, 1.        , 0.24814583, ..., 0.43034096, 0.41907596,
        0.47007805],
       [0.47245559, 0.24814583, 1.        , ..., 0.68885633, 0.61966068,
        0.78180021],
       ...,
       [0.47961646, 0.43034096, 0.68885633, ..., 1.        , 0.56127055,
        0.65819509],
       [0.57112617, 0.41907596, 0.61966068, ..., 0.56127055, 1.        ,
        0.68956356],
       [0.5568901 , 0.47007805, 0.78180021, ..., 0.65819509, 0.68956356,
        1.        ]])

In [151]:
item_similarity_us_df = pd.DataFrame(item_similarity_us)
item_similarity_us_df

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
0,1.000000,0.189485,-0.196543,-0.039224,-0.107647,0.280648,0.161204,0.460185,-0.069896,-0.235782,...,0.137363,-0.149068,0.153007,-0.213386,-0.227348,0.223448,-0.192598,-0.204814,-0.008281,-0.089760
1,0.189485,1.000000,-0.436231,-0.234877,0.362484,0.539489,-0.251890,0.342582,-0.118360,0.161788,...,-0.067900,-0.247536,0.142499,-0.130512,0.100250,0.427663,-0.320059,-0.145826,-0.220167,-0.139628
2,-0.196543,-0.436231,1.000000,-0.159587,0.046508,-0.410044,-0.027731,-0.356373,0.064238,-0.186103,...,0.205986,0.223241,-0.066841,0.387382,-0.063721,-0.380453,0.560105,0.256960,0.134839,0.459070
3,-0.039224,-0.234877,-0.159587,1.000000,-0.163101,-0.270710,0.228424,-0.055538,-0.172771,-0.357665,...,0.208290,-0.199821,-0.022772,-0.034041,-0.149076,-0.260011,0.218915,0.231002,0.079692,-0.050049
4,-0.107647,0.362484,0.046508,-0.163101,1.000000,0.077971,-0.453827,-0.178028,-0.220937,0.116915,...,0.325383,0.045020,-0.014029,0.028396,0.076001,-0.015750,0.101297,0.018782,0.238350,0.014208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,0.223448,0.427663,-0.380453,-0.260011,-0.015750,0.869846,0.179253,0.231573,0.120954,0.248912,...,-0.303158,-0.111476,0.450164,-0.401000,0.110760,1.000000,-0.423042,-0.256859,-0.440151,-0.346308
94,-0.192598,-0.320059,0.560105,0.218915,0.101297,-0.476501,-0.066507,-0.460834,-0.015057,-0.530602,...,0.488677,-0.120733,-0.167876,0.596210,-0.096620,-0.423042,1.000000,0.451394,0.243606,0.286367
95,-0.204814,-0.145826,0.256960,0.231002,0.018782,-0.288220,-0.004817,-0.141786,0.110970,-0.329364,...,0.207462,-0.082436,-0.260102,0.334524,-0.000592,-0.256859,0.451394,1.000000,-0.033668,0.116147
96,-0.008281,-0.220167,0.134839,0.079692,0.238350,-0.395565,-0.036846,-0.149231,0.062333,-0.046033,...,0.365972,-0.155340,-0.207504,0.435793,0.221998,-0.440151,0.243606,-0.033668,1.000000,0.242152
97,-0.089760,-0.139628,0.459070,-0.050049,0.014208,-0.441596,0.125539,-0.178517,-0.129516,-0.055855,...,0.483263,0.178211,-0.090146,0.495898,0.296113,-0.346308,0.286367,0.116147,0.242152,1.000000

In [152]:
user_n = np.arange(1,99)
item_similarity_us_df = item_similarity_us_df.set_index(user_n)

In [153]:
item_similarity_us_df.columns = user_n
item_similarity_us_df
export_us = item_similarity_us_df.to_csv(r'D:\DataAnaly\python\bax401-HW4\user_cosine_similarity.csv')

2. movie-to-movie similarity

In [154]:
item_similarity_m = cosine_similarity(ratings_std.T) # compare target is row, thus transpose df to put movies in row
item_similarity_m

array([[ 1.        ,  0.20676647,  0.19347647, ...,  0.16412921,
         0.37492195,  0.09875429],
       [ 0.20676647,  1.        ,  0.23649456, ..., -0.0134765 ,
         0.1570657 ,  0.15405471],
       [ 0.19347647,  0.23649456,  1.        , ...,  0.12614803,
         0.00573563,  0.00430232],
       ...,
       [ 0.16412921, -0.0134765 ,  0.12614803, ...,  1.        ,
         0.05188695,  0.00446124],
       [ 0.37492195,  0.1570657 ,  0.00573563, ...,  0.05188695,
         1.        ,  0.23306382],
       [ 0.09875429,  0.15405471,  0.00430232, ...,  0.00446124,
         0.23306382,  1.        ]])

In [155]:
item_similarity_m_df = pd.DataFrame(item_similarity_m)
item_similarity_m_df

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1.000000,0.206766,0.193476,0.104360,0.058143,0.108652,0.205710,0.351222,0.134504,0.341477,...,0.313396,0.171279,0.125306,0.034118,0.094871,0.244951,0.200067,0.164129,0.374922,0.098754
1,0.206766,1.000000,0.236495,0.082841,0.083707,0.256689,0.237521,0.084807,0.020255,0.151466,...,0.169312,0.059496,0.230879,0.091785,0.167971,0.387060,0.245451,-0.013476,0.157066,0.154055
2,0.193476,0.236495,1.000000,0.000571,-0.046932,0.095694,0.120354,-0.071548,0.179930,0.001319,...,0.005065,-0.075167,0.253416,0.152282,0.311563,0.184435,0.222024,0.126148,0.005736,0.004302
3,0.104360,0.082841,0.000571,1.000000,0.051181,0.217102,0.124291,0.130663,-0.045943,0.115553,...,0.001288,0.115559,0.141744,0.189681,0.004325,0.162713,0.180498,0.009154,0.101829,0.061961
4,0.058143,0.083707,-0.046932,0.051181,1.000000,0.157233,0.101211,0.176834,0.227319,0.133170,...,0.140580,0.090862,0.297283,0.216497,-0.170268,0.009419,0.180994,-0.015049,0.250275,0.098088
5,0.108652,0.256689,0.095694,0.217102,0.157233,1.000000,0.124768,0.069385,-0.042123,0.280807,...,0.120447,0.063134,0.180544,0.162929,0.014378,0.264414,0.103285,0.033202,0.027562,0.352380
6,0.205710,0.237521,0.120354,0.124291,0.101211,0.124768,1.000000,0.296030,0.085630,0.287129,...,0.152359,0.366393,0.141412,0.181151,-0.014132,0.066213,0.276118,0.086355,0.126295,0.401478
7,0.351222,0.084807,-0.071548,0.130663,0.176834,0.069385,0.296030,1.000000,0.025559,0.457557,...,0.325431,0.275885,0.021284,0.361346,-0.118634,0.163674,0.284251,0.135911,0.343180,0.311896
8,0.134504,0.020255,0.179930,-0.045943,0.227319,-0.042123,0.085630,0.025559,1.000000,-0.053279,...,-0.071455,-0.024360,0.171699,-0.033442,-0.153786,-0.003305,0.024042,0.039822,0.070330,0.010519
9,0.341477,0.151466,0.001319,0.115553,0.133170,0.280807,0.287129,0.457557,-0.053279,1.000000,...,0.334520,0.075785,0.142275,0.298344,-0.013323,0.257331,0.227515,0.055797,0.159366,0.276581
10,0.191097,0.100285,-0.040202,0.296936,0.074662,0.209032,0.291731,0.342901,0.010162,0.182290,...,0.220433,0.372556,0.010854,0.227275,-0.058012,0.374878,0.341176,0.098009,0.267453,0.392276
11,0.394311,0.175281,0.168405,0.313700,-0.037587,0.216778,0.267485,0.176685,-0.033467,0.240178,...,0.151559,0.280514,0.006745,0.239804,0.211462,0.297224,0.212935,0.006918,0.141535,0.097764
12,0.263940,0.178052,0.065718,0.028678,0.295450,0.272941,0.212038,0.305486,-0.071383,0.410575,...,0.124663,0.301868,0.197496,0.286646,-0.007437,0.146089,0.348726,0.160895,0.209216,0.173733
13,0.256869,0.025432,-0.129775,0.124114,0.111315,0.040698,0.384617,0.552128,0.049580,0.347468,...,0.238059,0.428175,0.040190,0.425555,-0.161846,0.198859,0.247787,0.176426,0.246572,0.352129
14,0.101699,0.083073,-0.005443,0.063469,0.261230,0.172792,0.122765,0.218343,0.252748,0.163219,...,0.206486,0.236911,0.226632,0.424604,0.000371,0.258277,0.202046,0.056801,0.129885,0.250777
15,0.157701,0.261298,0.036110,0.264919,0.174598,0.217484,0.210081,0.132938,-0.080141,0.262857,...,0.173083,0.265510,0.110546,0.106034,0.136417,0.273089,0.225693,0.136222,-0.055528,0.138802
16,0.155129,0.276471,0.071500,0.144610,0.034228,0.165232,0.226179,0.137465,0.142818,0.254450,...,0.214732,0.252158,0.128221,0.152574,-0.007767,0.262623,0.243322,-0.019466,0.043541,0.297391
17,0.226601,0.208720,0.258039,0.155293,0.002237,0.395338,0.160573,0.028856,-0.115231,0.086990,...,0.117611,0.233529,0.103503,0.143281,0.348310,0.265875,0.311040,-0.088431,0.158613,0.178327
18,0.256090,0.268563,0.007562,0.148158,0.052793,0.426523,0.578133,0.338342,0.046861,0.318069,...,0.227615,0.361541,0.154591,0.292701,-0.125658,0.197478,0.272665,0.002170,0.197047,0.513253
19,0.189628,0.273402,0.200726,0.136836,0.143527,0.189958,0.263951,0.157455,0.175148,0.146377,...,0.217459,0.095025,0.063346,0.323414,0.060445,0.306517,0.127793,0.043163,0.199147,0.312180
20,0.146097,0.158331,0.173690,0.062364,0.101823,0.020783,0.303782,0.045324,0.001816,0.124319,...,-0.035297,0.177853,0.146350,0.217972,0.183731,0.094631,0.172230,-0.011985,0.026634,0.052761
21,0.197723,0.138673,0.034504,0.065773,0.092409,0.202701,0.296194,0.268326,0.112630,0.167211,...,0.339454,0.296562,0.279813,0.049831,0.057496,0.162669,0.300359,-0.053822,0.096155,0.355654
22,0.287538,0.117252,-0.134676,0.111682,0.185428,0.126045,0.251664,0.645593,-0.151722,0.447856,...,0.304292,0.424739,0.174782,0.301309,0.003213,0.314333,0.377554,0.061417,0.285416,0.465322
23,0.324697,0.023205,0.067185,0.028741,0.249916,0.159079,0.231882,0.470048,0.004355,0.221888,...,0.065070,0.284573,0.136386,0.294568,-0.117457,-0.000638,0.280971,0.141997,0.196794,0.254636
24,0.082063,0.141108,0.149967,0.258234,-0.011504,0.098862,0.152399,0.040597,0.164480,0.059141,...,0.093677,0.203426,0.075574,0.135500,0.118853,0.159599,0.277898,0.023624,-0.055902,0.238214
25,0.313396,0.169312,0.005065,0.001288,0.140580,0.120447,0.152359,0.325431,-0.071455,0.334520,...,1.000000,0.142862,0.198627,0.125922,0.018719,0.145250,0.283434,0.110066,0.245636,0.217137
26,0.171279,0.059496,-0.075167,0.115559,0.090862,0.063134,0.366393,0.275885,-0.024360,0.075785,...,0.142862,1.000000,0.128784,0.369415,0.091779,0.203526,0.345019,0.123816,0.172182,0.351919
27,0.125306,0.230879,0.253416,0.141744,0.297283,0.180544,0.141412,0.021284,0.171699,0.142275,...,0.198627,0.128784,1.000000,0.230899,0.140356,0.115795,0.282063,-0.044267,0.125455,0.200791
28,0.034118,0.091785,0.152282,0.189681,0.216497,0.162929,0.181151,0.361346,-0.033442,0.298344,...,0.125922,0.369415,0.230899,1.000000,0.021844,0.179839,0.228954,0.052944,0.323195,0.365489
29,0.094871,0.167971,0.311563,0.004325,-0.170268,0.014378,-0.014132,-0.118634,-0.153786,-0.013323,...,0.018719,0.091779,0.140356,0.021844,1.000000,0.220977,0.252282,0.010568,-0.010513,0.028853
30,0.244951,0.387060,0.184435,0.162713,0.009419,0.264414,0.066213,0.163674,-0.003305,0.257331,...,0.145250,0.203526,0.115795,0.179839,0.220977,1.000000,0.319364,-0.000847,0.213974,0.298828
31,0.200067,0.245451,0.222024,0.180498,0.180994,0.103285,0.276118,0.284251,0.024042,0.227515,...,0.283434,0.345019,0.282063,0.228954,0.252282,0.319364,1.000000,-0.013443,0.315338,0.309960
32,0.164129,-0.013476,0.126148,0.009154,-0.015049,0.033202,0.086355,0.135911,0.039822,0.055797,...,0.110066,0.123816,-0.044267,0.052944,0.010568,-0.000847,-0.013443,1.000000,0.051887,0.004461
33,0.374922,0.157066,0.005736,0.101829,0.250275,0.027562,0.126295,0.343180,0.070330,0.159366,...,0.245636,0.172182,0.125455,0.323195,-0.010513,0.213974,0.315338,0.051887,1.000000,0.233064
34,0.098754,0.154055,0.004302,0.061961,0.098088,0.352380,0.401478,0.311896,0.010519,0.276581,...,0.217137,0.351919,0.200791,0.365489,0.028853,0.298828,0.309960,0.004461,0.233064,1.000000

In [156]:
movie_name = ratings_std.columns
item_similarity_m_df = item_similarity_m_df.set_index(movie_name)
item_similarity_m_df.columns = movie_name
item_similarity_m_df
export_m = item_similarity_m_df.to_csv(r'D:\DataAnaly\python\bax401-HW4\movie_cosine_similarity.csv')

## Make recommendations

In [157]:
def get_similar_movies(movie_name,rating):
    similar_m_score = item_similarity_m_df[movie_name]*(rating-2.5)  
    # for ratings<3, we need the under-preferred result in the bottom of list, thus subtract mean score from 5
    similar_m_score = similar_m_score.sort_values(ascending= False)
    
    return similar_m_score

In [158]:
def get_similar_user(userid):
    similar_user_score = item_similarity_us_df[userid]
    # for ratings<3, we need the under-preferred result in the bottom of list, thus subtract mean score from 5
    similar_user_score = similar_user_score.sort_values(ascending= False)
    
    return similar_user_score

 ##  
 ## For HaoHao(15)

1) user based selection

In [159]:
print(get_similar_user(15))

15    1.000000
39    0.640864
90    0.386724
47    0.385393
60    0.380085
        ...
33   -0.397838
31   -0.409195
19   -0.426071
95   -0.433638
52   -0.553203
Name: 15, Length: 98, dtype: float64

the most similar user is 39-HU WENQING, but there's no movie that watched by 39 but not watched by 15.  
Then we turn to movie similarity

2) movie_based selection

In [160]:
member = [( " The King's Speech", 5),(" La La Land",5),(" Avatar",5),(" Life of Pi",5),(" Call Me by Your Name",5),
          (" Manchester by the Sea",2),(" The Shape of Water",4), (" The Grand Budapest Hotel",4),( " Toy Story 3",4)]
similar_movies = pd.DataFrame()
for movie,rating in member:
    similar_movies = similar_movies.append(get_similar_movies(movie,rating))
    
similar_movies.head()
similar_movies.sum().sort_values(ascending=False)

 La La Land                                   5.550898
 The King's Speech                            4.832508
 Life of Pi                                   4.765941
 Call Me by Your Name                         4.114019
 The Grand Budapest Hotel                     3.770143
 The Shape of Water                           3.173887
 Avatar                                       3.160360
 Dunkirk                                      3.126367
 The Social Network                           2.606776
 Hugo                                         2.482560
 Moonlight                                    2.221281
 Black Swan                                   2.178595
 Blue is the Warmest Colour                   2.105254
 Manchester by the Sea                        2.104156
 The Artist                                   2.031202
 Mad Max: Fury Road                           2.007335
 Birdman                                      1.899127
 Three Billboards Outside Ebbing, Missouri    1.898077
 Toy Story 3                                  1.821953
 Arrival                                      1.762909
 Up in the Air                                1.706176
 A Separation                                 1.542885
 The Fighter                                  1.441212
 Lincoln                                      1.374976
 The Imitation Game                           1.229620
 Spotlight                                    1.183821
 Inception                                    1.120942
 True Grit                                    1.092359
 The Wolf of Wall Street                      1.071895
 Boyhood                                      0.732545
 12 Years a Slave                             0.725792
 Gravity                                      0.493126
 Argo                                         0.492991
 Zero Dark Thirty                             0.356604
 Inglourious Basterds                         0.238292
dtype: float64

**Thus, recommendation for HAOHAO:Dunkirk, The Social Network, Hugo**

##  
## For Minke(16)

1) user based selection

In [161]:
print(get_similar_user(16))

16    1.000000
77    0.423547
96    0.415036
13    0.371199
9     0.350704
        ...
54   -0.430012
66   -0.489415
68   -0.490662
38   -0.520477
35   -0.521306
Name: 16, Length: 98, dtype: float64

Similar user: 77-Zhang Shuyu; 96- Alayna Myrick

In [162]:
ratings.loc[77].sort_values(ascending= False)

 Mad Max: Fury Road                           5.0
 The King's Speech                            5.0
 Dunkirk                                      5.0
 The Grand Budapest Hotel                     5.0
 La La Land                                   5.0
 Life of Pi                                   5.0
 Inception                                    5.0
 Birdman                                      5.0
 Black Swan                                   5.0
 12 Years a Slave                             5.0
 Spotlight                                    4.0
 Up in the Air                                4.0
 Hugo                                         4.0
 The Social Network                           4.0
 Argo                                         4.0
 Avatar                                       4.0
 Call Me by Your Name                         4.0
 The Wolf of Wall Street                      4.0
 Manchester by the Sea                        3.0
 Moonlight                                    0.0
 The Imitation Game                           0.0
 Inglourious Basterds                         0.0
 Lincoln                                      0.0
 Blue is the Warmest Colour                   0.0
 The Shape of Water                           0.0
 Three Billboards Outside Ebbing, Missouri    0.0
 Gravity                                      0.0
 Zero Dark Thirty                             0.0
 The Artist                                   0.0
 A Separation                                 0.0
 True Grit                                    0.0
 Boyhood                                      0.0
 Arrival                                      0.0
 Toy Story 3                                  0.0
 The Fighter                                  0.0
Name: 77, dtype: float64

In [163]:
ratings.loc[96].sort_values(ascending= False)

 The Social Network                           5.0
 The Wolf of Wall Street                      5.0
 12 Years a Slave                             5.0
 The Imitation Game                           5.0
 Lincoln                                      4.0
 The Grand Budapest Hotel                     4.0
 Inception                                    4.0
 The Artist                                   4.0
 Blue is the Warmest Colour                   4.0
 The Shape of Water                           4.0
 The King's Speech                            3.0
 La La Land                                   3.0
 Boyhood                                      3.0
 Avatar                                       3.0
 Birdman                                      3.0
 Manchester by the Sea                        3.0
 Argo                                         3.0
 Toy Story 3                                  3.0
 Dunkirk                                      3.0
 Black Swan                                   3.0
 True Grit                                    3.0
 Hugo                                         2.0
 Moonlight                                    2.0
 Zero Dark Thirty                             2.0
 Life of Pi                                   2.0
 Mad Max: Fury Road                           1.0
 Inglourious Basterds                         1.0
 Arrival                                      0.0
 Call Me by Your Name                         0.0
 Spotlight                                    0.0
 A Separation                                 0.0
 Three Billboards Outside Ebbing, Missouri    0.0
 Gravity                                      0.0
 Up in the Air                                0.0
 The Fighter                                  0.0
Name: 96, dtype: float64

2) movie_based selection

In [164]:
member = [(" The Social Network",5),( " The King's Speech", 5),(" La La Land",5),(" Boyhood",5),(" Inception",5),
          (" A Separation",4),(" Avatar",5),(" Life of Pi",5),(" The Grand Budapest Hotel",5),
          (" Mad Max: Fury Road",4),(" Birdman",4),(" Manchester by the Sea",5),(" Hugo",5), 
          (" Black Swan",5),(" The Wolf of Wall Street",5),(" The Imitation Game",5),( " Toy Story 3",5),
         (" 12 Years a Slave",4), (" A Separation", 4)]
for movie,rating in member:
    similar_movies = similar_movies.append(get_similar_movies(movie,rating))
    
similar_movies.head()
similar_movies.sum().sort_values(ascending=False)

 The King's Speech                            14.252650
 The Grand Budapest Hotel                     13.885643
 Life of Pi                                   13.002029
 La La Land                                   12.744444
 Hugo                                         12.157679
 The Social Network                           12.150232
 Dunkirk                                      12.007450
 Birdman                                      11.272713
 Manchester by the Sea                        10.895811
 A Separation                                 10.622398
 Mad Max: Fury Road                           10.329080
 Black Swan                                   10.248514
 12 Years a Slave                             10.042813
 Lincoln                                       9.535491
 Blue is the Warmest Colour                    9.284970
 The Imitation Game                            9.221042
 The Fighter                                   9.185720
 The Wolf of Wall Street                       9.112000
 Arrival                                       8.873158
 Moonlight                                     8.537522
 Avatar                                        8.511466
 The Artist                                    8.427206
 Three Billboards Outside Ebbing, Missouri     8.262412
 Spotlight                                     7.754938
 Inception                                     7.623284
 Up in the Air                                 7.545757
 Boyhood                                       7.541627
 Argo                                          7.462560
 The Shape of Water                            7.184550
 Call Me by Your Name                          6.965021
 True Grit                                     6.676243
 Inglourious Basterds                          6.518666
 Zero Dark Thirty                              6.397634
 Toy Story 3                                   5.639380
 Gravity                                       5.078512
dtype: float64

**Recommendation: Dunkirk; Mad Max, Fury Road; Lincoln**

##   
## FOR WHN

1) user based selection

In [165]:
get_similar_user(35).head(10)

35    1.000000
38    0.921301
66    0.883388
68    0.852630
6     0.845704
54    0.799318
36    0.696702
26    0.687951
79    0.684149
94    0.680948
Name: 35, dtype: float64

In [166]:
ratings.loc[38].sort_values(ascending= False)

 Avatar                                       3.0
 The Fighter                                  0.0
 Mad Max: Fury Road                           0.0
 Inglourious Basterds                         0.0
 Up in the Air                                0.0
 Blue is the Warmest Colour                   0.0
 12 Years a Slave                             0.0
 Spotlight                                    0.0
 Zero Dark Thirty                             0.0
 Birdman                                      0.0
 The Artist                                   0.0
 A Separation                                 0.0
 Inception                                    0.0
 Boyhood                                      0.0
 La La Land                                   0.0
 The King's Speech                            0.0
 Moonlight                                    0.0
 Manchester by the Sea                        0.0
 The Imitation Game                           0.0
 True Grit                                    0.0
 Toy Story 3                                  0.0
 Dunkirk                                      0.0
 The Grand Budapest Hotel                     0.0
 Call Me by Your Name                         0.0
 Arrival                                      0.0
 Life of Pi                                   0.0
 The Wolf of Wall Street                      0.0
 Lincoln                                      0.0
 Black Swan                                   0.0
 Gravity                                      0.0
 Argo                                         0.0
 Three Billboards Outside Ebbing, Missouri    0.0
 The Shape of Water                           0.0
 Hugo                                         0.0
 The Social Network                           0.0
Name: 38, dtype: float64

In [167]:
ratings.loc[66].sort_values(ascending= False)

 The Social Network                           1.0
 The Wolf of Wall Street                      1.0
 Mad Max: Fury Road                           1.0
 Moonlight                                    1.0
 Spotlight                                    1.0
 Avatar                                       1.0
 The Shape of Water                           1.0
 Black Swan                                   1.0
 Inglourious Basterds                         1.0
 Inception                                    1.0
 Life of Pi                                   1.0
 Arrival                                      1.0
 Boyhood                                      1.0
 La La Land                                   1.0
 Toy Story 3                                  1.0
 Up in the Air                                0.0
 The Artist                                   0.0
 Zero Dark Thirty                             0.0
 12 Years a Slave                             0.0
 Blue is the Warmest Colour                   0.0
 The King's Speech                            0.0
 A Separation                                 0.0
 The Fighter                                  0.0
 Birdman                                      0.0
 The Imitation Game                           0.0
 Lincoln                                      0.0
 Hugo                                         0.0
 Three Billboards Outside Ebbing, Missouri    0.0
 Argo                                         0.0
 Gravity                                      0.0
 True Grit                                    0.0
 Call Me by Your Name                         0.0
 The Grand Budapest Hotel                     0.0
 Dunkirk                                      0.0
 Manchester by the Sea                        0.0
Name: 66, dtype: float64

In [168]:
ratings.loc[68].sort_values(ascending= False)

 Toy Story 3                                  2.0
 The Grand Budapest Hotel                     2.0
 The Imitation Game                           2.0
 Black Swan                                   1.0
 Dunkirk                                      1.0
 Call Me by Your Name                         1.0
 Avatar                                       1.0
 Gravity                                      1.0
 The Shape of Water                           1.0
 The Artist                                   0.0
 12 Years a Slave                             0.0
 Spotlight                                    0.0
 Zero Dark Thirty                             0.0
 The Fighter                                  0.0
 A Separation                                 0.0
 Up in the Air                                0.0
 Inception                                    0.0
 Boyhood                                      0.0
 La La Land                                   0.0
 The King's Speech                            0.0
 Blue is the Warmest Colour                   0.0
 Manchester by the Sea                        0.0
 Inglourious Basterds                         0.0
 Mad Max: Fury Road                           0.0
 Moonlight                                    0.0
 Birdman                                      0.0
 Lincoln                                      0.0
 Hugo                                         0.0
 Three Billboards Outside Ebbing, Missouri    0.0
 Argo                                         0.0
 The Wolf of Wall Street                      0.0
 True Grit                                    0.0
 Life of Pi                                   0.0
 Arrival                                      0.0
 The Social Network                           0.0
Name: 68, dtype: float64

*whn has rated for very few movies, and many of them are below 3. She's a quite harsh rater!*

2) movie_based selection

In [169]:
member = [(" Inception",3),(" Avatar",1),(" The Imitation Game",1)]
for movie,rating in member:
    similar_movies = similar_movies.append(get_similar_movies(movie,rating))
    
similar_movies.head()
similar_movies.sum().sort_values(ascending=False)

 The King's Speech                            14.028522
 The Grand Budapest Hotel                     13.574349
 Life of Pi                                   12.704939
 La La Land                                   12.442480
 Hugo                                         11.667999
 Dunkirk                                      11.588877
 The Social Network                           11.415164
 Birdman                                      11.010289
 Manchester by the Sea                        10.831857
 A Separation                                 10.722857
 Black Swan                                   10.079894
 Mad Max: Fury Road                            9.885745
 12 Years a Slave                              9.663722
 Lincoln                                       9.196025
 Blue is the Warmest Colour                    9.104074
 The Wolf of Wall Street                       8.921018
 The Fighter                                   8.869390
 Moonlight                                     8.828325
 Arrival                                       8.546778
 The Artist                                    8.159923
 Three Billboards Outside Ebbing, Missouri     7.995439
 The Imitation Game                            7.740685
 Spotlight                                     7.662393
 Up in the Air                                 7.486734
 Boyhood                                       7.483387
 Inception                                     7.406893
 Argo                                          7.354733
 The Shape of Water                            7.192785
 Call Me by Your Name                          7.126335
 Avatar                                        7.019631
 True Grit                                     6.499941
 Inglourious Basterds                          6.130095
 Zero Dark Thirty                              5.932943
 Toy Story 3                                   5.494293
 Gravity                                       4.901748
dtype: float64

**Recommendation for WHN is quite difficult since we don't know what kind of movie does she like, and few of the other people has similar rating behavior with her. After I talk to WHN, she realized that she has given opposite rating where she thought 1 is the highest rating.**

##  
## For Stella

1) user based selection

In [170]:
get_similar_user(48).head(10)

48    1.000000
60    0.520820
32    0.467342
8     0.450154
67    0.426259
15    0.338264
1     0.299597
39    0.279406
25    0.278292
47    0.272786
Name: 48, dtype: float64

In [174]:
ratings.loc[60].sort_values(ascending= False)

 The Wolf of Wall Street                      5.0
 La La Land                                   5.0
 Call Me by Your Name                         4.0
 Life of Pi                                   4.0
 Zero Dark Thirty                             0.0
 Inglourious Basterds                         0.0
 Up in the Air                                0.0
 Blue is the Warmest Colour                   0.0
 12 Years a Slave                             0.0
 Spotlight                                    0.0
 Avatar                                       0.0
 The Fighter                                  0.0
 The Artist                                   0.0
 Moonlight                                    0.0
 A Separation                                 0.0
 Inception                                    0.0
 Boyhood                                      0.0
 The King's Speech                            0.0
 Mad Max: Fury Road                           0.0
 Manchester by the Sea                        0.0
 Birdman                                      0.0
 The Imitation Game                           0.0
 Lincoln                                      0.0
 Hugo                                         0.0
 The Shape of Water                           0.0
 Three Billboards Outside Ebbing, Missouri    0.0
 Argo                                         0.0
 Gravity                                      0.0
 Black Swan                                   0.0
 True Grit                                    0.0
 Arrival                                      0.0
 The Grand Budapest Hotel                     0.0
 Dunkirk                                      0.0
 Toy Story 3                                  0.0
 The Social Network                           0.0
Name: 60, dtype: float64

In [175]:
ratings.loc[32].sort_values(ascending= False)

 Manchester by the Sea                        5.0
 The Wolf of Wall Street                      5.0
 The Social Network                           4.0
 La La Land                                   3.0
 Three Billboards Outside Ebbing, Missouri    3.0
 Avatar                                       2.0
 Dunkirk                                      0.0
 Mad Max: Fury Road                           0.0
 The King's Speech                            0.0
 Boyhood                                      0.0
 Inception                                    0.0
 A Separation                                 0.0
 The Artist                                   0.0
 Zero Dark Thirty                             0.0
 Spotlight                                    0.0
 12 Years a Slave                             0.0
 Blue is the Warmest Colour                   0.0
 Up in the Air                                0.0
 Inglourious Basterds                         0.0
 Moonlight                                    0.0
 The Grand Budapest Hotel                     0.0
 Birdman                                      0.0
 The Imitation Game                           0.0
 Lincoln                                      0.0
 Hugo                                         0.0
 The Shape of Water                           0.0
 Argo                                         0.0
 Gravity                                      0.0
 Black Swan                                   0.0
 Toy Story 3                                  0.0
 True Grit                                    0.0
 Life of Pi                                   0.0
 Arrival                                      0.0
 Call Me by Your Name                         0.0
 The Fighter                                  0.0
Name: 32, dtype: float64

In [172]:
member = [(" The Social Network",5),(" La La Land",5),(" Avatar",4),(" Blue is the Warmest Colour",4),
          (" Three Billboards Outside Ebbing, Missouri",5),(" The Wolf of Wall Street",5),
          (" The Grand Budapest Hotel",5),(" Life of Pi",5),(" Call Me by Your Name",4)
          ]
for movie,rating in member:
    similar_movies = similar_movies.append(get_similar_movies(movie,rating))
    
similar_movies.head()
similar_movies.sum().sort_values(ascending=False)

 The Grand Budapest Hotel                     18.979443
 Life of Pi                                   18.115535
 The King's Speech                            17.996744
 La La Land                                   17.609569
 The Social Network                           17.537824
 Dunkirk                                      16.341047
 Hugo                                         14.848536
 Manchester by the Sea                        14.596865
 The Wolf of Wall Street                      14.073735
 Birdman                                      14.033914
 Blue is the Warmest Colour                   13.996440
 Three Billboards Outside Ebbing, Missouri    13.633896
 A Separation                                 13.437537
 Mad Max: Fury Road                           13.116424
 Black Swan                                   12.688131
 Lincoln                                      12.602668
 12 Years a Slave                             12.331630
 Moonlight                                    12.203881
 The Fighter                                  12.013757
 The Artist                                   11.124005
 Spotlight                                    11.033092
 Call Me by Your Name                         10.822803
 Arrival                                      10.821314
 The Imitation Game                           10.697406
 Argo                                         10.535262
 Up in the Air                                10.153892
 The Shape of Water                            9.736563
 Avatar                                        9.548758
 True Grit                                     9.191453
 Boyhood                                       9.082631
 Inception                                     8.813343
 Zero Dark Thirty                              8.704331
 Inglourious Basterds                          8.330940
 Gravity                                       6.610082
 Toy Story 3                                   6.333772
dtype: float64

**Recommendation for Stella:  The King's Speech; Dunkirk, Hugo**